.inBut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.input{
    width: 300px;
    height: 40px;
    border-radius:  10px 0 0 10px;
    border: none;
    font-size: 18px;
    color: var(--VeryDarkGray);
}

.button{
    width: 45px;
    background-color: var(--VeryDarkGray);
    border: none;
    border-radius: 0 10px 10px 0;
}

.title{
    display: flex;
    justify-content: center;
    color: var(--white);
}