@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "./header.css";
@import "./section.css";

#map{
    /*height: 448px;*/
    position: relative;
    height: 400px;
    z-index: 0;
    top: 120px;
}

/*
    position: relative;
    height: 400px;
    z-index: 0;
    top: 120px;
*/ 

:root{
    --font:Rubik;
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --white:#EEEDED;

}

*{
    font-family: var(--font);
}

body{
    margin: 0;
    padding: 0;
    background-image: url(./img/pattern-bg-desktop.png);
}